<h2>Welcome</h2>
<%= link_to 'Properties', controller: 'properties' %>
<p>
<%= link_to 'FetchNearby', controller: 'realtor_entries' %>
<p>
<%= link_to 'Sale Listings', controller: 'sale_listings' %>
<p>
<%= link_to 'Rent Listings', controller: 'rent_listings' %>
