<h2>Welcome</h2>
<%= link_to 'Entries', controller: 'entries' %>
<p>
<%= link_to 'Pages', controller: 'pages' %>
<p>
<%= link_to 'Properties', controller: 'properties' %>
<p>
<%= link_to 'FetchNearby', controller: 'realtor_entries' %>